

<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid d-flex align-items-center">
      <a class="navbar-brand" href="/">
        <img src="../images/train.png" alt="" width="30" height="30" href="/" class="imgnavbar d-inline-block align-items-center font-weight-bold">
        Ticetac
      </a>
      <div id="navbarNav" class="d-flex flex-column ">
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item connection" >
          <a class="nav-link active text-danger font-weight-bold" aria-current="page" href="/">connection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="/myLastTrips">My last trips</a>
        </li>
        </div>
    
  </nav>