

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../public/images/train.png" alt="" width="30" height="30" class="imgnavbar d-inline-block align-text-top">
        Ticetac
      </a>
      <div id="navbarNav" class="d-flex flex-column ">
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item connection" >
          <a class="nav-link active " aria-current="page" href="#">connection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My last trips</a>
        </li>
        </div>
    
  </nav>