body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: -moz-linear-gradient(top, #d0e4f7 0%, #73b1e7 44%, #539fe1 65%, #0a77d5 100%, #87bcea 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d0e4f7 0%,#73b1e7 44%,#539fe1 65%,#0a77d5 100%,#87bcea 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d0e4f7 0%,#73b1e7 44%,#539fe1 65%,#0a77d5 100%,#87bcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); 
  height: 100vh;
  /* 
  IE6-9 */
}

a {
  color: #00B7FF;
}
/*---------------------- NAV BAR ITEMS-------------------------- */
.navbar {
  margin : 0px;
}

.imgnavbar {
  margin-right: 10px;
}

.nav-item {
  margin: 10px;
}

  /*---------------------- HOME PAGE ITEMS-------------------------- */

.container {
  margin-top: 50px;
  width: 100%;
  
}

.row {
   padding: 15px;
}

.titleForm {
  color: white;
  padding-bottom: 20px;
  
}


/*---------------------- LOGIN  ITEMS-------------------------- */

#signin  {
  margin: 10px;

}

#signup  {
  margin: 10px;
 }


/*---------------------- HOME PAGE ITEMS-------------------------- */



.itemhp {
  padding : 10px;
  /* width: 50%; 
  height: 33%; */
}


#buttonhp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 40px;
  width: 40px
}


/*--------------------ERROR PAGE-------------------- */
#errorbutton {
    width: 60px;
    margin-bottom: 300px;
    
}

.rowerror  {
  height: 100vh;
}


/*-------------------MY LAST TRIPS---------------------- */

.mltbutton {
  width: 60px;

}



footer {
  display: flex;
  justify-content: center;
  opacity: 75%;

}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}