body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  margin : 0px;
}

.nav-item {
  

}


.container {
  margin-top: 200px;
  width: 100vw;
  height: 100vh;
  
}

.row {
   padding: 15px;
}

#signin  {
  margin: 10px;

}

#signup  {
  margin: 10px;
 }

footer {
  display: flex;
  justify-content: center;
  opacity: 75%;

}